<form class="form-horizontal" id="createfrm" name="createfrm" method="post">
<fieldset>

<!-- Form Name -->
<legend>Create Post</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="textinput">Title</label>
  <div class="controls">
    <input id="textinput" name="title" type="text" placeholder="placeholder" class="input-xlarge">

  </div>
  <label class="control-label" for="textinput">Author</label>
  <div class="controls">
    <input id="textinput" name="author" type="text" placeholder="placeholder" class="input-xlarge">

  </div>
  <label class="control-label" for="textinput">Description</label>
  <div class="controls">
    <input id="textinput" name="description" type="text" placeholder="placeholder" class="input-xlarge">

  </div>
  <label class="control-label" for="textinput">Price</label>
  <div class="controls">
    <input id="textinput" name="price" type="text" placeholder="placeholder" class="input-xlarge">

  </div>
  <label class="control-label" for="textinput">Date</label>
  <div class="controls">
    <input id="textinput" name="date" type="text" placeholder="placeholder" class="input-xlarge">

  </div>

  <button id="submit" name="submit" type="submit" class="btn btn-primary">Submit</button>
</div>
</fieldset>
</form>
